<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">Интернет-магазин</div>
            <filtrlist></filtrlist>
            <!--Корзина-->
            <button class="btn-cart" type="button" @click = "isVisibleCart = !isVisibleCart">Корзина</button>
    </header>
    <main>
        <div v-if="isVisibleCart"> <!--скрытие корзины--> 
            <p class="cart_text logo">Ваш заказ</p>
            <cart-list :goods="shoppingCart" :img="imgCatalog"></cart-list><!--конец корзины--> 
</div>
        <div class="products">
            <div class="product-item" v-for="product of seachProducts" :key="product.id_product">
                <img :src="imgCatalog" alt="Some img">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}}₽</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>

    
        
    </main>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>
